body {
  position: relative;
  width: 1440px;
  height: 720px;

  background: #19a1ae;
}
main {
  position: absolute;
  width: 350px;
  height: 374px;
  left: 545px;
  top: 173px;
}
#ovalFirst {
  position: absolute;
  width: 978px;
  height: 976px;
  left: 1180.29px;
  top: 1554.84px;

  background: linear-gradient(
    180deg,
    rgba(9, 137, 180, 0.0001) 0.78%,
    #53ffee 99.94%
  );
  mix-blend-mode: normal;
  opacity: 0.25;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}
#ovalSecond {
  /* Oval Copy 30 */

  position: absolute;
  width: 978px;
  height: 976px;
  left: 204.71px;
  top: 669.84px;

  background: linear-gradient(
    180deg,
    rgba(9, 137, 180, 0.0001) 0.78%,
    #53ffee 99.94%
  );
  mix-blend-mode: normal;
  opacity: 0.5;
  transform: rotate(-135deg);
}
.profile {
  /* Group 6 Copy 2 */

  position: absolute;
  width: 350px;
  height: 374px;
  left: 545px;
  top: 173px;
}
.data {
  position: absolute;
  width: 249px;
  height: 40px;
  left: 47px;
  top: 310px;
}
#line {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 76.2%;
  bottom: 23.53%;

  background: #e8e9ec;
}
#city {
  position: absolute;
  height: 14px;
  left: 42.86%;
  right: 42.86%;
  top: calc(50% - 14px / 2 + 63px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #6b7082;
}
#profile {
  /* Group 8 */

  position: absolute;
  left: 30.86%;
  right: 30.57%;
  top: 56.68%;
  bottom: 37.17%;
}
#imgOval {
  position: absolute;
  width: 96px;
  height: 96px;
  left: calc(50% - 96px / 2);
  top: calc(50% - 96px / 2 - 47px);

  background: url("./images/image-victor.jpg");
  border: 5px solid #ffffff;
}
#profileOval {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 62.57%;
}
#rect {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 15px;
}
#likes {
  position: absolute;
  left: 43.43%;
  right: 43.14%;
  top: 82.89%;
  bottom: 6.42%;
}
#photos {
  position: absolute;
  left: 72.29%;
  right: 15.43%;
  top: 82.89%;
  bottom: 6.42%;
}
#followers {
  position: absolute;
  left: 13.43%;
  right: 69.71%;
  top: 82.89%;
  bottom: 6.42%;
}
.text {
  position: absolute;
  height: 10px;
  left: 19.15%;
  right: 19.15%;
  top: calc(50% - 10px / 2 + 12px);

  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.5px;

  color: #6b7082;
}
.number {
  position: absolute;
  height: 18px;
  left: 1.06%;
  right: 1.06%;
  top: calc(50% - 18px / 2 - 11px);

  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #2e3349;
}
#profileContent {
  position: absolute;
  left: 30.86%;
  right: 30.57%;
  top: 56.68%;
  bottom: 37.17%;
}
#name {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 22.96%;
  top: calc(50% - 18px / 2 - 2.5px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #2e3349;
}
#age {
  position: absolute;
  height: 18px;
  left: 83.33%;
  right: 0.37%;
  top: calc(50% - 18px / 2 - 2.5px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #6b7082;
}
#profileOval {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #41cbd3;
  border-radius: 15px 15px 0px 0px;
}
