body {
  background-color: #19a1ae;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  width: 350px;
  height: 374px;
  background-color: white;
  border-radius: 15px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -58px;
}
.city {
  margin-bottom: 28px;
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #6b7082;
}
.header img {
  border-radius: 15px 15px 0px 0px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameNage {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  box-sizing: border-box;
}
.name {
  margin-right: 8.5px;
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #2e3349;
}
.age {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #6b7082;
}
.line {
  height: 1px;
  width: 350px;

  background: #e8e9ec;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digit {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #2e3349;
}
.text {
  margin-top: 10px;
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.5px;

  color: #6b7082;
}
.body img {
  margin-bottom: 24px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: white solid 5px;
}
